import { Stack } from 'expo-router';
import React from 'react';

const {{feature_name.pascalCase}}Layout = () => {
  return (
    <Stack
      screenOptions={{
        headerShown: false,
      }}
    />
  );
};

export default {{feature_name.pascalCase}}Layout;
